.users .card {
  padding: .7em;
  font-family: sans-serif;
}

.users a:hover {
  text-decoration: none;
  text-shadow: .5em .45em .1em hsla(200,50%,40%,.5);
  color: white;
}

.users a {
  font-family: sans-serif;
}

.users .card:hover {
  background: hsla(110,50%,40%,.5);
}
