[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pygal = "*"
django-bootstrap4 = "*"
python-dotenv = "*"
pygithub = "*"
django-mathfilters = "*"
django-heroku = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
dnspython = "*"
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
django-debug-toolbar = "*"
