{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Github Dashboard App - All Users
{% endblock title %}
{% block content %}
<div id='users'>
    <h1 class='mark h3'> Users: CLICK ON ANY USER to see their public page </h1>
    <div class='row'>
        <!-- row based display of card with gravatar for all users registered in app, with each linking to a designated public user page (some info including first/last name kept private )-->
        {% for user in users %}
        <div class='col-3 pb-4 align-items-end'>
            <a class='stretched-link' href="{% url 'user_peer' user_id=user.id %}"></a>
            <div class='card text-center rounded-3 border-3 d-block shadow pb-3'>
                <h3 class='text-center'>{{user.username|title}}</h3>
                <img class='text-center d-inline-block m-auto' src="{{user.gravatar}}" width='80' height='70' alt='a users gravatar'>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}