{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App - PanelCollections
{% endblock title %}
{% block content %}
<div id='my-collections'>
    <div class='row'>
        <div class='col-5 mr-auto'>
            <div class="card form-card border rounded font-weight-bold">
                <div class="card-body">
                    {% if form %}
                    <form method="POST">
                        {% csrf_token %}
                        <a class='btn btn-primary w-100 mb-3' href="{% url 'user_collections' %}">Click for blank form </a>
                        {% bootstrap_form form %}
                        <button class="btn btn-lg btn-primary btn-block">Save</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class='dashboards col-7 ml-auto'>
            <div class='row dashboard_instance'>
                {% for collection in collections %}
                <div class='col col-4 dashboard-panel card d-flex shadow'>
                    <a class="stretched-link col-12" href="{% url 'show_collection' collection.id %}">
                        <h3 class='h6 panels-list'>panels: {{ collection.string_of_panels }}</h3>
                        <h3 class='h6'>{{collection.panel_count}} panels</h3>
                        <h3 class='h6'>Title: {{collection.title}}</h3>
                        <h3 class='h6'>Desc: '{{collection.description}}'</h3>
                        <!-- <embed class='mb-0' type="image/svg+xml" src="{{ panel.svg | safe}}"> -->
                        <h3 class='h6'> created_at: {{collection.created}}</h3>
                        <hr>
                        <h3 class='h3 collection-details'>CLICK TO VIEW DETAILS</h3>
                        <hr>
                    </a>
                    <div class='row justify-content-around'>
                        <a href="{% url 'edit_collection' collection.id %}" class="p-2 border ml-2 mb-0 btn btn-sm btn-danger col-5">Edit</a>
                        <button class="p-2 border mr-2 mb-0 btn btn-sm btn-danger modal-button col-5" data-toggle="modal" data-target="#fm-modal-grid-{{collection.id}}">Delete</button>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" id="fm-modal-grid-{{collection.id}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Warning. This action will be permanent. Confirm!</p>
                                </div>
                                <div class="modal-footer">
                                    <form action={% url 'delete_collection' collection.id %} method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}