{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App - Panels
{% endblock title %}
{% block content %}
<div class='row'>
    <div class='col-4 mr-auto'>
        <div class="card border rounded">
            <div class="card-body">
                {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-lg btn-primary btn-block">Save</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='dashboards col-8 ml-auto'>
        <div class='row dashboard_instance'>
            {% if dashboards %}
            {% for dashboard in dashboards %}
            <a class="stretched-link col-3" href="/details/{{dashboard.id}}/">
                <div class='col col-12 dashboard-panel card d-flex'>
                    <h2>{{dashboard.title}}</h2>
                    <h3 class='dashboard-description'>{{dashboard.description}}</h3>
                    <h4> {{dashboard.get_panels }} </h4>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}