{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App - Panels
{% endblock title %}
{% block content %}
<div class='row'>
    <div class='col-4 mr-auto'>
        <div class="card border rounded">
            <div class="card-body">
                {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-lg btn-primary btn-block">Save</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='dashboards col-8 ml-auto'>
        <div class='row dashboard_instance'>
            {% if dashboards %}
            {% for dashboard in dashboards %}
            <div class='col col-3 dashboard-panel card d-flex'>
                <a class="stretched-link col-12" href="">
                    {% if panel.panel_type == 'Table' %}
                    {{ hello }}
                    {% else %}
                    <h3 class=''>panels: {{ dashboard.string_of_panels }}</h3>
                    <h3 class=''>Title: {{dashboard.title}}</h3>
                    <h2>Desc: '{{dashboard.description}}'</h2>
                    <!-- <embed class='mb-0' type="image/svg+xml" src="{{ panel.svg | safe}}"> -->
                    <h3> created_at: {{dashboard.created}}</h3>
                    {% endif %}
                </a>
                <button class="btn btn-danger" data-toggle="modal" data-target="#fm-modal-grid-{{dashboard.id}}">Delete</button>
                <div class="modal" tabindex="-1" role="dialog" id="fm-modal-grid-{{dashboard.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Warning. This action will be permanent. Confirm!</p>
                            </div>
                            <div class="modal-footer">
                                <form action={% url 'delete_dashboard' dashboard.id %} method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}