{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App - Home
{% endblock title %}
{% load panels_extras %}
{% block content %}
<div class='row dashboards justify-content-between'>
    {% for dash in dashboards %}
    <div class="col-{{dash.panel_size | panel_to_column_size }} dashboard-panel card d-flex">
        {{ dash.panel_type }}
        <h2>{{dash.github_username}}/{{dash.repo_name | none_to_empty_str }}</h2>
        <h3 class='repo-description'>{{dash.repo_description}}</h3>
        {% if dash.panel_type == 'Table' %}
        {{ hello }}
        {% else %}
        <embed class='mb-0' type="image/svg+xml" src="{{ dash.svg }}">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}