{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Github Dashboard App - Home
{% endblock title %}
{% block content %}
<div class='row dashboards'>
    {% for dash in dashboards %}
    <div class='col-3 dashboard card'>
        <a class="stretched-link" href="/details/{{dash.id}}/">
            <h2>{{dash.github_username}}/{{dash.repo_name}}</h2>
            <h3>{{dash.repo_description}}</h3>
            <embed type="image/svg+xml" src="{{ dash.svg | safe}}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}