{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Github Dashboard App - Panels
{% endblock title %}
{% block content %}
<!-- <script>
    $('#id_panel_type').on('change', function() {
    // Code here
    var $this = $(this);
    var text = "No Printer Selected";
    if ($this.find('option:selected').index() == 0) {
        // #text = $this.find('option:selected').text() + ' Selected';
        $('#id_repo_name').prop('disabled', true);
    }
    // $('#printerInfo').html(text);
}).change();
</script> -->
<!-- https://www.tutorialrepublic.com/faq/how-to-get-the-value-of-selected-option-in-a-select-box-using-jquery.php -->
<div class='row'>
    <div class='col-4 mr-auto'>
        <div class="card border rounded">
            <div class="card-body bold">
                {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    <button class="btn btn-lg btn-primary btn-block">Save</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='dashboards col-8 ml-auto'>
        <div class='row'>
            {% if panels %}
            {% for panel in panels %}
            <div class='col col-3 dashboard-panel card d-flex'>
                <a class="stretched-link col-12" href="{% url 'edit_panel' panel.id %}">
                    {% if panel.panel_type == 'Table' %}
                    {{ hello }}
                    {% else %}
                    <h3 class=''>Panel Size: {{panel.panel_size}}</h3>
                    <h2>Repo: '{{panel.github_username}}/{{panel.repo_name}}'</h2>
                    <h3 class='repo-description'>Desc: {{panel.description}}</h3>
                    <embed class='mb-0' type="image/svg+xml" src="{{ panel.svg | safe}}">
                    {% endif %}
                </a>
                <!-- <a class='btn btn-warning' href="{% url 'delete_panel' panel.id %}">Delete</a> -->
                <button class="btn" data-toggle="modal" data-target="#fm-modal-grid">Delete</button>
                <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledBy="fm-modal-grid" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <p>Warning! This is permanent! Are you sure you want to delete {{pane.repo_name}}?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'delete_panel' panel.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %} </div>
    </div>
</div> {% endblock content %} {% block page_javascript %} <script src="{% static 'javascript/panelcreationform.js' %}">
</script>
{% endblock page_javascript %}