{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App - Panels
{% endblock title %}
{% load panels_extras %}
{% block content %}
<div id='my-panels'>
    <div class='row'>
        <h2 class='h5 mark mt-1 mb-2 bg-danger text-white mr-auto ml-auto'>Click body of panel to see detailed view; click edit to edit selected panel in form; click delete to destroy </h2>
        <div class='col-4 ml-0 mr-0'>
            <div class="card form-card border rounded">
                <div class="card-body bold">
                    {% if form %}
                    <form class='form' method="POST" action="?">
                        {% csrf_token %}
                        <a class='btn btn-primary w-100 mb-3' href="{% url 'user_panels' %}">Click for blank form </a>
                        {% bootstrap_form form %}
                        <button class="btn btn-lg btn-primary btn-block">Save</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class='dashboards col-8 ml-0 mr-0'>
            <div class='row align-items-end'>
                {% if panels %}
                {% for panel in panels %}
                <div class='col-{{panel.panel_size | panel_to_column_size}} dashboard-panel card d-flex h-100 mb-3 shadow'>
                    <a class="stretched-link col" href="{% url 'show_panel' panel_id=panel.id %}">
                        <h3 class='h5 mb-0'> Panel Type: {{panel.panel_type }}</h3>
                        <h3 class='h5 mb-0'>Panel Size: {{panel.panel_size}}</h3>
                        <!-- tweak text if table- where github user name is used but no repo-names, vs other kind of panel -->
                        <h3 class='h5 mb-0'>{% if panel.is_table %}Github User: {% else %}Repo: {% endif %}
                            '{{panel}}'
                        </h3>
                        <h3 class='h5 repo-description mb-0'>Desc: {{panel.description}}</h3>
                        <h3 class='h5'>id: {{panel.id}}</h3>
                        {% if panel.svg %}
                        <div class='text-center'>
                            <img class='ml-auto mr-auto' src='{{panel.svg}}'>
                        </div>
                        {% else %}
                        <h3 class='h1 text-center table-identify'>A TABLE</h3>
                        {% endif %}
                        <h3 class='h3 mt-5 border panel-details text-center'>CLICK TO VIEW</h3>
                    </a>
                    <div class='row justify-content-around'>
                        <!-- edit and delete buttons/links have been given additional functionality via bootstrap modal, employing modal as a confirmation screen.  edit is passed a URL and thus is coded as an anchor.  delete button's fuunctionality is supplied by modal, and its url is within the modal-footer code-->
                        <a href="{% url 'edit_panel' panel.id %}" class="border ml-2 mb-0 btn btn-sm p-2 btn-danger col-5">Edit</a>
                        <button class="border mr-2 mb-0 btn btn-sm btn-danger modal-button p-2 col-5" data-toggle="modal" data-target="#fm-modal-grid-{{panel.id}}">Delete</button>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" id="fm-modal-grid-{{panel.id}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Warning. This action will be permanent. Confirm!</p>
                                </div>
                                <div class="modal-footer">
                                    <form action={% url 'delete_panel' panel.id %} method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- the below script src is a javascript file containing the code for controlling show and hide of new panel/edit panel form fields which distinguishe table from pygal chart.   based upon user selection of table, or its peer charts, repo_name field and panel_style field ('bar, 'pie', etc) will be hidden and disabled in the case of table, or shown and enabled in the case of all other chart options -->
{% block page_javascript %}
<script src="{% static 'javascript/panelcreationform.js' %}">
</script>
{% endblock page_javascript %}