{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App -Show Panel
{% endblock title %}
{% load panels_extras %}
{% load cache %}
{% block content %}
<div id='show-collection'>
    <!-- if there is META.HTTP_REFERER data, use it, otherwise as would occur if user refreshes current page- redirect to 'home'- conditional by way of firstof template tag below, i.e. first value if truthy else 2nd value, avoids non-functioning 'return to prev' link in the latter case.  important as show_collection.html is linked from each panel/collection-face on each of collections>collection, all_users>user_peer -->
    {% with ref=request.META.HTTP_REFERER %}
    <a class='h4 btn btn-danger text-uppercase font-weight-bold' href='{% firstof ref "/" %}'> return to previous page</a>
    {% endwith %}
    <div class='card'>
        <div class='card-body'>
            <h1 class='h4 text-uppercase font-weight-bold'>About this collection:</h1>
            <h3 class='h6 mark p-1'>{{panels|length}} panels in this collection</h3>
            <h3 class='h6 mark p-1'>creator: {{collection.creator}}</h2>
                <h3 class='h6 mark p-1'>title: {{collection.title }}</h2>
                    <h3 class='h6 mark p-1'>description: {{collection.description}}</h2>
                        <h3 class='h6 mark p-1'>Date created: {{collection.created}}</h2>
        </div>
    </div>
    <div class='ml-0 mr-0 row dashboards justify-content-between position-relative align-items-start'>
        {% for panel in panels %}
        <div class=" col-{{panel.panel_size | panel_to_column_size }} dashboard-panel card d-flex shadow align-items-start">
            <!--  <h2>{{ collection }}</h2> -->
            <h3 class='repo-description'>{{panel.repo_description}}</h3>
            {% if panel.panel_type == 'TableOfRepos' %}
            {% cache 300 default panel.id %}
            {% with tablerepos=panel.get_repos %}
            <table class="table w-100" id='table-{{panel.id}}' style="font-size:{{panel.panel_size|resize_from_columns}}em;">
                {% include 'snippets/table.html' %}
            </table>
            {% endwith %}
            {% endcache %}
            {% else %}
            <embed class='mb-0' type="image/svg+xml" src="{{ panel.svg }}">
            {% endif %}
            <p class='panel-details mr-auto ml-auto'>CLICK TO VIEW DETAILS</p>
            <a class='stretched-link' href="{% url 'show_panel' panel.id %}"></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}