{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Github Dashboard App - Home
{% endblock title %}
{% load panels_extras %}
{% block content %}
<div class='row dashboards justify-content-between'>
    <div class="col-{{panel.panel_size | panel_to_column_size }} dashboard-panel card d-flex">
        {% if panel.panel_type == 'Table' %}
        {{ hello }}
        <h2>{{panel.github_username}}</h2>
        <h3 class='repo-description'>{{panel.description}}</h3>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}