<header class=''>
    <!--    <nav class="navbar navbar-dark bg-dark navbar-expand">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Joachim Byrnes-Shay</a>
                </div>
                {% block navbar %}
                <ul class="nav navbar-nav vertical-align-middle">
                    <!-- via rendered context from view, the ***_active templated variables below are utilized to insert the .active class as necessary per each views' templates -->
    <li class="nav-item"><a class='nav-link text-light {{home_active}}' href="{% url 'home' %}">Home</a></li>
    <li class="nav-item"><a class='nav-link text-light {{table_active}}' href="{% url 'view_all_users' %}">Users</a></li>
    <li class="nav-item"><a class='nav-link text-light {{bar_chart_active}}' href="#">Dashboards</a></li>
    <div class="auth-links">
        {% if user.is_authenticated %}
        <li class="nav-item ml-0"><a class='nav-link text-light {{pie_chart_active}}' href="{% url 'user_logout' %}">Logout</a></li>
        <li class="nav-item mr-3 username"><a class='nav-link text-light {{pie_chart_active}}' href="">Hi {{user.username|title}}! <img class='ml-5 position-fixed gravatar' src="{{user.gravatar}}" width=25 height=25></a></li>
        <!-- <li class="nav-item gravatar"><a class='nav-link'><img src="{{user.gravatar}}" width=25 height=25></a></li> -->
        {% else %}
        <li class="nav-item ml-0"><a class='nav-link text-light {{pie_chart_active}}' href=" {% url 'user_login' %}">Login</a></li>
        <li class="nav-item"><a class='nav-link text-light {{pie_chart_active}}' href="{% url 'user_register' %}">Register</a></li>
        {% endif %}
    </div>
    </ul>
    {% endblock %}
    </nav> -->
</header>