/*@import url('reset/reset.css');
*/
@import url('base/navbar.css');
@import url('base/base.users.css');
@import url('home/home.collections.css');
@import url('registration/registration.css');

/** declare css variables for use across css stylesheets **/

:root {
  --test-hilarious: green;
  --color-lightblue: lightblue;
  --font-primary-family: 'Montserrat';
}

body {
  margin: 0;
  padding: 0;
}

/** general styles **/

h1 {
  background: #Acc1d9;
  padding: .2em 0.4em .2em 0.4em;
  color: hsl(220,50%,40%);
  text-shadow: 4px 4px .6em hsl(20,50%,50%);
}

body {
  background: rgb(215,240,240);
  background: #e5e5e5;
  background: var(--color-lightblue);
  font-family: var(--font-primary-family);
}

.bold form, .bold form input, .bold form textarea, .bold form select {
  font-weight: bold;
}
