.dashboards {
}

/*.dashboard-panel {
  position: relative;
  width: 100%;
}

.btn-success {
  background: bl
.repo-description {
  }/*.
*/

/*.dashboards {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,50,9,0.05926120448179273) 35%, rgba(75,90,140,1) 100%);
}

.dashboards .dashboard-panel h2, .dashboards .dashboard-panel h3 {
  font-size: 1em;
  font-weight: bold;
}

.dashboards .dashboard-panel {
  padding: .5em;
  border: 5px solid black;
  border: 5px solid #1e90ff;
  border: 5px solid #044c5c;
  border: 5px solid #00008b;
  border: 5px solid #836953;
  border: 3px solid #00008b;
  border: 3px solid #836953;
  border: 2px solid #00008b;
  background: beige;
  background: #fefefe;
  background: #ffffff;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 2px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
}

.dashboards .dashboard-panel:hover {
  background: hsla(20,70%,90%,1);
  background: #e8e8e4;
  background: beige;
  color: black;
  font-weight: bold;
}

h1, h4 {
  background: #ffe5d9;
  background: #044c5c;
  color: white;
  font-family: Arial,sans-serif;
  font-weight: bold;
}

h6 {
  color: midnightblue;
}


*/
