{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- if a particular view's tempmlate needs an additional css file, it is inserted via css-extra block in the respective template -->
    {% block css-extra %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Joachim Byrnes-Shay</a>
                </div>
                {% block navbar %}
                <ul class="nav navbar-nav ml-auto mr-auto">
                    <!-- via rendered context from view, the ***_active templated variables below are utilized to insert the .active class as necessary per each views' templates -->
                    <li class="nav-item"><a class='nav-link text-light {{home_active}}' href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item ml-5"><a class='nav-link text-light {{table_active}}' href="{% url 'table' %}">Table</a></li>
                    <li class="nav-item ml-5"><a class='nav-link text-light {{bar_chart_active}}' href="{% url 'bar_chart' %}">Bar Chart</a></li>
                    <li class="nav-item ml-5"><a class='nav-link text-light {{pie_chart_active}}' href="{% url 'pie_chart' %}">Pie Chart</a></li>
                </ul>
                {% endblock %}
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- main content is inserted via content block in each view's template -->
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>